{% extends 'base.html' %}

{% block content %}
    <h1 class="title"> {% block title %} Edit {{ employee.name }} {% endblock %}</h1>
    <div class="col-sm">
        <form method="POST">
        <div class="user">
            <label for="fullname">Enter the full name:</label>
            <input type="text" name="fullname"></input>
            <label for="age">Enter the age:</label>
            <input type="number" name="age"></input>
            <button type="submit">Submit Changes</button>
        </div>
        </form>
    </div>
{% endblock %}