{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Results {% endblock %}</h1>
        {% if resulted %}
            {% for result in resulted %}
                {% if result.isnumeric() %}
                    <div class="col-sm">
                        <div class="user">
                            <a class="name">{{ result }}</a></p>
                            <a class="name">Name: {{ Employee.query.filter_by(id=(result|int)) }} ID: {{ Employee.query.filter_by(id=(result|int)) }}</a></p>
                        </div>
                    </div>
                {% else %}
                    <div class="col-sm">
                        <div class="user">
                            <a class="name">{{ result }}</a></p>
                            <a class="name">Name: {{ Employee.query.filter_by(name=result) }} ID: {{ Employee.query.filter_by(name=result) }}</a></p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <b>
            <div class="empty">
                <p class="empty">No Results</p>
                </p>
            </div>
        {% endif %}
{%endblock content %}
