{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Results for '{{ entered }}' {% endblock %}</h1>
        {% if listdb %}
            {% for result in listdb %}
                <div class="col-sm">
                    <div class="user">
                        <a class="name" href="{{ url_for('viewSpecific', id=Employee.query.filter_by(name=result[2:-3]).first().id) }}">{{ Employee.query.filter_by(name=result[2:-3]).all() }}</a></p>
                    </div>
                </div>
            {% endfor %}  
        {% elif resulted %}
            {% for result in resulted %}
                <div class="col-sm">
                    <div class="user">
                        <a class="name" href="{{ url_for('viewSpecific', id=Employee.query.filter_by(name=result).first().id) }}">{{ Employee.query.filter_by(name=result).all() }}</a></p>
                    </div>
                </div>
            {% endfor %}  
        {% else %}
            <b>
            <div class="empty">
                <p class="empty">No Results</p>
                </p>
            </div>
        {% endif %}
{% endblock %}
