{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Employees {% endblock %}</h1>
        {% for employee in employees %}
            <div class="col-sm">
                <div class="user">
                    <p><b>ID: {{ employee.id }}</b></p>
                    <b>
                        <p class="name">Full name: {{ employee.name }}</p>
                    </b>
                    <p>Age: {{ employee.age }} years old</p>
                    <b>
                        <p>Date joined: {{ employee.dateJoined }}</p>
                    </b>
                </div>
            </div>
        {% endfor %}
{%endblock content %}